<section *ngIf="weatherResponse" class="vh-20">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4">
        <div class="card weather-card">
          <div class="card-body p-4 weather-card-content">
            <div class="d-flex">
              <h6 class="flex-grow-1">{{ weatherResponse.name }}</h6>
              <h6>{{ getWeatherTime() }}</h6>
            </div>

            <div class="d-flex flex-column text-center mt-5 mb-4">
              <h6
                class="display-4 mb-0 font-weight-bold"
                style="color: #1c2331"
              >
                {{ weatherResponse.main.temp | number : "1.0-0" }}&deg;C
              </h6>
              <span class="small" style="color: #868b94">{{
                weatherResponse.weather[0].description
              }}</span>
            </div>

            <div class="d-flex align-items-center">
              <div class="flex-grow-1" style="font-size: 1rem">
                <div>
                  <i class="fas fa-wind fa-fw" style="color: #868b94"></i>
                  <span class="ms-1">
                    {{ weatherResponse.wind.speed }} m/s
                  </span>
                </div>
                <div>
                  <span class="ms-1">
                    {{ weatherResponse.main.humidity }} %
                  </span>
                </div>
                <div>
                  <i class="fas fa-sun fa-fw" style="color: #868b94"></i>
                  <span class="ms-1">
                    {{ weatherResponse.main.pressure }} hPa</span
                  >
                </div>
              </div>
              <div>
                <img [src]="getWeatherIconUrl()" width="100px" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- OpenAI description card -->
      <div class="col-md-8 col-lg-6 col-xl-4 mb-4">
        <div class="openai-description-card">
          {{ weatherResponse.openAIDescription?.toString() }}
        </div>
      </div>
      <div class="col-md-6 col-lg-3 col-xl-2 mb-4">
        <!-- Sunrise card -->
        <div class="sun-time-card text-center p-4">
          <i class="fas fa-sun sun-time-icon"></i>
          <h5 class="mb-0">Sunrise</h5>
          <small>{{ getSunriseTime() }}</small>
        </div>
        <!-- Sunset card -->
        <div
          class="sun-time-card text-center p-4"
          style="background-color: #1c046a; color: #fff"
        >
          <i class="fas fa-sun sun-time-icon"></i>
          <h5 class="mb-0">Sunset</h5>
          <small>{{ getSunsetTime() }}</small>
        </div>
      </div>
    </div>
  </div>
</section>
