<div class="container mt-1">
  <div class="row justify-content-center">
    <!-- Recently viewed cities -->
    <div class="col-md-2">
      <h5>Recent cities</h5>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let city of recentCities">
          {{ city }}
        </li>
      </ul>
    </div>

    <!-- Main search panel -->
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Enter city name"
          [(ngModel)]="cityName"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-primary myButton"
            type="button"
            (click)="getWeather()"
          >
            Get Weather
          </button>
        </div>
      </div>

      <div *ngIf="loading" class="text-center">
        <div class="spinner-border" role="status">
          <span class="sr-only"></span>
        </div>
      </div>

      <div *ngIf="noSuchCity">{{ noSuchCity }}</div>

      <div *ngIf="weatherResponse">
        <app-weather-widget
          [weatherResponse]="weatherResponse"
        ></app-weather-widget>
      </div>
    </div>

    <!-- favorite cities -->
    <div class="col-md-2">
      <h5>Favorite cities</h5>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let city of favoriteCities">
          {{ city }}
        </li>
      </ul>
    </div>
  </div>
</div>
